.container.mt-5.text-center
  %h1.text-primary Ruby on Rails By Nelson!!
  %p.lead This is the homepage.
  .mt-4
    = link_to "Register", "#", class: "btn btn-success mx-2"
    = link_to "Login", "#", class: "btn btn-primary mx-2"
  = link_to "Counter", count_path
